* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #7F00FF;
}

.modal-content {
    background: #222;
    padding: 40px 45px;
    border-radius: 12px !important;
    color:  chartreuse;
    width: 450px;
    margin: auto;
}

.modal-header {
    border-bottom: none;
    text-align: center;
}

.modal-title {
    width: 100%;
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.modal-body {
    text-align: center;
    padding-top: 0;
}

.modal-body p {
    color: #c2c2c2;
    margin-bottom: 25px;
    font-size: 14px;
}

.modal-body input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid #666;
    color: #fff;
    font-size: 14px;
}

.modal-body input::placeholder {
    color:  yellowgreen;
}

.forgot {
    margin-top: -10px;
    margin-bottom: 25px;
}

.forgot a {
    color: yellowgreen;
    font-size: 13px;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    padding: 12px 0;
    background: transparent;
    color: yellowgreen;
    border: 1px solid #888;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 30px;
    transition: 0.2s;
}

.btn-login:hover {
    background: #333;
}

.social {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.social i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.social i:hover {
    transform: scale(1.2);
}

.signup {
    font-size: 14px;
    text-align: center;
}

.signup a {
    color: yellowgreen;
    font-weight: bold;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 10px;
}
.remember {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.remember input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.remember label {
    color: yellowgreen;
    font-size: 14px;
    cursor: pointer;
}